*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #e6e9ec;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  text-align: center;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  transform: translateX(-15%);
  border-radius: 50px;
  width: 130%;
  text-align: left;
  transition-duration: 0.25s;
}

nav ul li a:hover {
  opacity: 0.8;
  transform: scale(0.9);
}

nav ul li.active a {
  color: white;
}

nav ul li:nth-child(1) a {
  background-color: #FFEF7E;
}

nav ul li:nth-child(2n) a {
  background-color: #41A244;
}

nav ul li:nth-child(3n) a {
  background-color: #6F256C;
}
nav ul li:nth-child(4n) a {
  background-color: #DC4128;
}

nav ul li:nth-child(5n) a {
  background-color: #379BEB;
}

nav ul li:nth-child(6n) a {
  background-color: #B8FFB8;
}

.container {
  margin-top: 12%;
}

.menu {
  padding-left: 0px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: -10px;
  height: 41px;
  margin-left: 10px;
}

.logo {
  margin-left: -5px;
  margin-right: -10px;
  margin-top: -18px;
  margin-bottom: -19px;
  border-radius: 30px;
  height: 55px;
}

.live {
  overflow: hidden;
}
.live > li {
  list-style: none;
  position: relative;
  padding: 0 0 0 2em;
  margin: 0 0 0.5em 10px;
  transition: 0.12s;
}
.live > li::before {
  position: absolute;
  content: "•";
  font-family: Arial;
  color: #FFF;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 2em;
  opacity: 0.5;
  line-height: 0.75;
  transition: 0.5s;
}
.live > li:hover {
  color: #FFF;
}
.live > li:hover::before {
  transform: scale(2);
  opacity: 1;
  text-shadow: 0 0 4px;
  transition: 0.5s;
}

.live.list {
  counter-reset: numbers 0;
}
.live.list > li::before {
  content: counter(numbers, decimal) ".";
  counter-increment: numbers 1;
  font-size: 1em;
  opacity: 0.5;
  line-height: 1.2;
  transition: 0.5s;
}

body {
  display: flex;
  justify-content: stretch;
  height: 100%;
  font: 1.33em "Roboto Condensed", arial;
  color: white;
  background-image: radial-gradient(circle, #3c3b52 0%, #252233 80%);
}

* {
  box-sizing: padding-box;
}

ol, ul {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1.5em;
  margin: 1vw;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.live .title:hover {
    color: #FFF;
    transition: 0.5s;
}

.live .title {
    text-align: center;
    font-size: 40px;
  
}

