*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #e6e9ec;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  text-align: center;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  transform: translateX(-15%);
  border-radius: 50px;
  width: 130%;
  text-align: left;
  transition-duration: 0.25s;
}

nav ul li a:hover {
  opacity: 0.8;
  transform: scale(0.9);
}

nav ul li.active a {
  color: white;
}

nav ul li:nth-child(1) a {
  background-color: #FFEF7E;
}

nav ul li:nth-child(2n) a {
  background-color: #41A244;
}

nav ul li:nth-child(3n) a {
  background-color: #6F256C;
}
nav ul li:nth-child(4n) a {
  background-color: #DC4128;
}

nav ul li:nth-child(5n) a {
  background-color: #379BEB;
}

nav ul li:nth-child(6n) a {
  background-color: #B8FFB8;
}

.menu {
  padding-left: 0px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: -10px;
  height: 41px;
  margin-left: 10px;
}

.logo {
  margin-left: -5px;
  margin-right: -10px;
  margin-top: -18px;
  margin-bottom: -19px;
  border-radius: 30px;
  height: 55px;
}

body{
  padding: 0;
  margin: 0;
}
h2{
  color:gray;
  font-family:sans-serif;
}
.middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}

.btn i {
  line-height: 90px;
  font-size: 36px;
  transition: 0.2 linear;
}
.btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before{
content: "";
position: absolute;
width: 120%;
height: 120%;
background-color: #3498db;
transform: rotate(45deg);
left: -110%;
top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

.email:hover::before {
    background-color: #EA4336;
}

.linkedin:hover::before{
  background: #0A66C2;
}

@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }
  50%{
    left: 10%;
    top: -30%
  }
  100%{
    top: -10%;
    left: -10%;
  }
}