*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #e6e9ec;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
 
nav {
    position: fixed;
    top: 5%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
  }

nav:after {
    content: "";
    display: table;
    clear: both;
  }

nav ul li {
    list-style: none;
    display: inline-block;
  }

nav ul li a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    transform: translateX(-15%);
    border-radius: 50px;
    width: 130%;
    text-align: left;
    transition-duration: 0.25s;
  }

nav ul li a:hover {
    opacity: 0.8;
    transform: scale(0.9);
  }

nav ul li.active a {
    color: white;
  }

nav ul li:nth-child(1) a {
    background-color: #69AF23;
  }

nav ul li:nth-child(2n) a {
    background-color: #008737;
  }

nav ul li:nth-child(3n) a {
    background-color: #ffc300;
  }
nav ul li:nth-child(4n) a {
    background-color: #E62D87;
  }

nav ul li:nth-child(5n) a {
    background-color: #552382;
  }

.menu {
    padding-left: 0px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: -10px;
    height: 41px;
    margin-left: 10px;
  }

.logo {
    margin-left: 0px;
    margin-right: -10px;
    margin-top: -16px;
    margin-bottom: -19px;
    border-radius: 30px;
    height: 51px;
  }